@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

// main root
.root {
  position: relative;

  max-height: 567px;
  min-height: 567px;
  min-width: 1170px;
  overflow: hidden;

  border-radius: 50px;
  background: linear-gradient(
    270deg,
    rgba($blackColor, 0) 0.01%,
    rgba($blackColor, 0.2) 100%
  );

  composes: main-font-style from "../../styles/global.scss";

  &__background {
    position: absolute;
    z-index: -1;

    min-height: 100%;
    object-fit: cover;

    border-radius: 50px;

    transition: all 0.4s;
  }

  &__footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    padding: 0px 60px 60px;
  }

  .content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 0px 0px 60px;
    gap: 34px;

    &__text {
      max-width: 554px;

      color: $whiteColor;
    }

    &__list {
      margin-top: -7px;
      margin-left: 4px;

      color: $whiteColor;
    }

    &__title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 122%;
      color: $whiteColor;
    }
  }
}

.footer-details-link {
  width: 199px;
  height: 42px;

  transform: translate(-21px, -11px);
  transition: background 1s ease, color 1s ease, transform 0.7s linear;
  transition: 0.7s;
}

.footer-social-networks {
  position: absolute;
  left: 788px;
  top: -26px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 0px;
  gap: 35px;

  .content-item__social-network {
    color: $whiteColor;

    cursor: pointer;
  }

  @media (min-width: 992px) {
    .content-item__social-network:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 7px;
    }

    .content-item__social-network:active {
      color: $orangeColor;

      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 7px;
    }
  }
}

.content__list-item {
  list-style: inside;
}

// min-width 780
@include minWidth780 {
  .root:hover {
    cursor: pointer;

    .root__background {
      transform: scale(1.2);
      transition: all 300ms ease;
    }
  }

  .root:hover .footer-details-link {
    background: $darkGreen;
    border-radius: 50px;

    transform: translate(-21px, -11px);
  }

  .root:hover .footer-details-link:active {
    background: $orangeColor;

    transition: 0.3s;
  }
}

// 1175
@include _1175 {
  .root {
    max-width: 1010px;
    min-width: 1010px;

    .content {
      gap: 18px;
    }
  }

  .footer-social-networks {
    left: 570px;
  }
}

// 1024
@include _1024 {
  .root {
    max-width: 918px;
    min-width: 918px;
    min-height: 567px;

    .content {
      gap: 37px;

      &__list {
        margin-top: -12px;
        margin-left: 5px;
      }
    }
  }

  .footer-social-networks {
    left: 537px;
  }
}

// 992
@include _992 {
  .root {
    max-width: 600px;
    min-width: 600px;

    .content {
      padding: 50px;

      &__text {
        max-width: 400px;
      }
    }
  }

  .footer-social-networks {
    display: none;
  }
}

// 780
@include _780 {
  .root {
    @include widthCalculation(318px, 615);
    max-height: 455px;

    border-radius: 20px;

    &__background {
      border-radius: 20px;
    }

    .content {
      padding: 30px;
      gap: 20px;

      &__text {
        max-width: 263px;

        font-size: 18px;
      }

      &__title {
        font-size: 23px;
      }
    }
  }

  .footer-details-link {
    left: 28px;

    p {
      font-size: 23px;
    }
  }
}

// 435
@include _435 {
  .root {
    max-width: 318px;
    min-width: 318px;
    min-height: 455px;

    .content {

      &__title {
        max-width: 150px;
      }

      &__text {
        margin-left: -3px;

        font-size: 16px;
      }

      &__list {
        margin-top: 4px;
        margin-left: 0px;

        font-size: 16px;
      }
    }
  }

  .stories__img-cont {
    .stories__img {
      max-width: 318px;
      max-height: 455px;

      .root__background {
        object-fit: cover;
        border-radius: 20px;
      }
    }
  }

  .footer-details-link {
    transform: translate(-69px, 23px);

    p {
      font-size: 16px;
    }
  }

  .footer-social-networks {
    .mobile-ver {
      display: none;
    }
  }
}

@include _360 {
  .root {
    .content {
      gap: 25px;

      &__title {
        font-weight: 700;
        line-height: 126%;
        letter-spacing: 0.04em;
      }

      &__list {
        margin-top: 0px;
        margin-left: 3px;
      }
    }
  }
}
