@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

// main root
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
}

// 1175
@include _1175 {
  .content {
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}

// 1024
@include _1024 {
  .root {
    max-width: 1024px;
  }
}

// 992
@include _992 {
  .root {
    gap: 50px;
  }
}

// 780
@include _780 {
  .root {
    max-width: 360px;
  }

  .sectionSubtitle {
    min-width: 440px;
  }
}

// 435
@include _435 {
  .root {
    min-height: 1597px;
    margin-left: -3px;
  }

  .sectionTitle {
    max-width: 319px;

    letter-spacing: 0.02em;
  }

  .sectionSubtitle {
    margin-left: 7px;
  }

  .content {
    max-width: 318px;
    gap: 20px;
  }
}
