@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

// main root
.root {
  gap: 100px;
}

.sectionHeader {
  gap: 30px;
}

.content {
  padding: 0px;
  gap: 50px;
}

// 1175
@include _1175 {
  .content {
    max-width: 100%;
    margin: 0 auto;
  }
}

// 1024
@include _1024 {
  .root {
    max-width: 1024px;
  }

  .sectionHeader {
    gap: 33px;
  }

  .content {
    max-width: 100%;
  }
}

// 992
@include _992 {
  .root {
    gap: 50px;
  }
}

// 780
@include _780 {
  .root {
    max-width: 360px;
  }

  .sectionHeader {

    .sectionSubtitle {
      min-width: 440px;
    }
  }
}

// 435
@include _435 {
  .root {
    max-width: 360px;
    min-height: 1597px;
    margin-left: -3px;
    gap: 50px;
  }

  .sectionHeader {
    padding: 0px 21px;
    gap: 21px;

    .sectionTitle {
      max-width: 319px;

      letter-spacing: 0.02em;
    }

    .sectionSubtitle {
      margin-left: 7px;
    }
  }

  .content {
    max-width: 318px;
    padding: 0px;
    gap: 20px;
  }
}