@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

// main root
.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 590px;
  padding: 40px;
  box-sizing: content-box;

  background: $lightBeigeColor;
  border-radius: 50px;

  .content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    color: $blackColor
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 70px 0px 0px;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 415px;
  gap: 8px;

  .reviewer-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
    color: $blackColor;
  }

  .reviewer-tour {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: $greyColor;
  }
}

.root__reviewer {
  border-radius: 100px;
}

// 1175
@include _1175 {
  .root {

    &__footer {
      min-width: 100%;
      padding: 0;
    }
  }

  .footer-content {
    min-width: 70%;
  }
}

// 1024
@include _1024 {
  .root {
    max-width: 370px;
    min-height: 767px;
  }

  .footer-content {
    min-width: 295px;
    gap: 6px;

    .reviewer-tour {
      margin-bottom: 6px;
    }
  }
}

// 992
@include _992 {
  .root {
    border-radius: 20px;
    max-width: calc(300px + 70 * (100vw / 940));
    min-height: 290px;

    .content {
      font-size: 18px;
      line-height: 143%;
    }
  }

  .footer-content {
    min-width: 270px;
    gap: 8px;

    .reviewer-name {
      font-weight: 700;
      font-size: 23px;
      line-height: 120%;
      letter-spacing: 0.04em;
    }

    .reviewer-tour {
      margin-bottom: 1px;

      font-size: 16px;
    }
  }

  .root__reviewer {
    max-width: 75px;
    max-height: 75px;
  }
}

// 576
@include _576 {
  .root {
    max-width: 318px;
    min-height: auto;
    padding: 20px;

    border-radius: 20px;

    .content {
      font-size: 16px;
    }

    &__footer {
      padding: 43px 0px 0px;
    }
  }

  .footer-content {
    min-width: 203px;
  }
}
