@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.root {
  position: relative;

  min-width: 370px;
  min-height: 531px;

  background: linear-gradient(360deg, rgba($blackColor, 0.4) 0%, rgba($blackColor, 0.06) 48.44%, rgba($blackColor, 0.5) 100%);
  border-radius: 50px;
  overflow: hidden;

  composes: main-font-style from '../../styles/global.scss';

  &__background {
    position: absolute;
    z-index: -1;

    max-width: 370px;
    max-height: 100%;

    border-radius: 50px;
    object-fit: cover;

    transition: all 0.4s;
  }

  .content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;

    border-radius: 50px;

    .info-link__container {
      transition: 0.5s;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      max-width: 245px;
      gap: 16px;

      .subtitle {
        letter-spacing: -0.01em;
        color: $whiteColor;
      }
    }

    .choose-tour__link {
      width: 199px;
      height: 42px;

      transition: background 1s ease, color 1s ease, transform 0.7s linear;
      transform: translate(-23px, 5px);
    }
  }
}

@media (min-width: 780px) {
  .root:hover .root__background {
    transform: scale(1.2);
    transition: all 300ms ease;
  }

  .root:hover {
    cursor: pointer;

    .content {

      .choose-tour__link {
        background: $darkGreen;

        transform: translate(-23px, 5px);
      }

      .choose-tour__link:active {
        background: $orangeColor;

        transition: 0.3s;
      }
    }
  }
}

@include _1175 {
  .root {
    min-width: 332px;
  }
}

@include _1024 {
  .root {
    min-width: 450px;
    
    &__background {
      min-width: 450px;
    }
    
    .content {
    
      .text-container {
        max-width: 350px;
      }
    }
  }
}

@media (max-width: 992px) and (min-width: 780px) {

  .root {
    @include minWidthСalculation(350px, 920);

    &__background {
      @include minWidthСalculation(350px, 920);
    }
  }
};

@include _780 {
  .root {
    min-width: 318px;
    @include minWidthСalculation(270px, 719);
    min-height: 318px;

    border-radius: 20px;

    &__background {
        @include minWidthСalculation(270px, 719);
        border-radius: 20px;
    }

    .content {
      left: -2px;
      top: 2px;

      padding: 25px;

      .text-container {
        max-width: 268px;
        gap: 13px;

        .subtitle {
          font-size: 16px;
        }
      }

      .choose-tour__link {
        top: 269px;
        left: 26px;
      }
    }
  }
}

@include _576 {
  .root {
    min-width: 318px;
    min-height: 318px;

    border-radius: 20px;

    &__background {
      min-width: 318px;

      border-radius: 20px;
    }

    .content {
      left: -2px;
      top: 2px;

      padding: 25px;

      .text-container {
        max-width: 268px;
        gap: 13px;

        .subtitle {
          font-size: 16px;
        }
      }

      .choose-tour__link {
        top: 269px;
        left: 26px;
      }
    }
  }
}

@include mobile;