@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.choose-tour__card {
    position: relative;

    min-width: 370px;
    min-height: 531px;

    background: linear-gradient(360deg, rgba($blackColor, 0.4) 0%, rgba($blackColor, 0.06) 48.44%, rgba($blackColor, 0.5) 100%);
    border-radius: 50px;
    overflow: hidden;

    .choose-tour__card__background {
        position: absolute;
        z-index: -1;

        max-width: 370px;
        max-height: 100%;

        border-radius: 50px;
        object-fit: cover;

        transition: all 0.4s;
    }

    .choose-tour__card-content {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 50px;

        border-radius: 50px;

        .info-link__container {
            transition: 0.5s;
        }

        .choose-tour__text-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            max-width: 245px;
            gap: 16px;

            .choose-tour__card__subtitle {
                letter-spacing: -0.01em;
                color: $whiteColor;
            }
        }

        .choose-tour__link {
            width: 199px;
            height: 42px;

            transition: background 1s ease, color 1s ease, transform 0.7s linear;
            transform: translate(-23px, 5px);
        }
    }
}

@media (min-width: 780px) {
    .choose-tour__card:hover .choose-tour__card__background {
        transform: scale(1.2);
        transition: all 300ms ease;
    }

    .choose-tour__card:hover {
        cursor: pointer;

        .choose-tour__card-content {

            .choose-tour__link {
                background: $darkGreen;

                transform: translate(-23px, 5px);
            }

            .choose-tour__link:active {
                background: $orangeColor;

                transition: 0.3s;
            }
        }
    }
}

@media (max-width: 1175px) {
    .choose-tour__card {
        min-width: 332px;
    }
}

@media (max-width: 1024px) {

    .choose-tour__card {
        min-width: 450px;
    
        .choose-tour__card__background {
            min-width: 450px;
        }
    
        .choose-tour__card-content {
    
            .choose-tour__text-container {
                max-width: 350px;
            }
        }
    }
}

@media (max-width: 992px) and (min-width: 780px) {

    .choose-tour__card {
        @include minWidth小alculation(350px, 920);

        .choose-tour__card__background {
            @include minWidth小alculation(350px, 920);
        }
    }
};

@media (max-width: 780px) {
    .choose-tour__card {
        min-width: 318px;
        @include minWidth小alculation(270px, 719);
        min-height: 318px;

        border-radius: 20px;

        .choose-tour__card__background {
            @include minWidth小alculation(270px, 719);
            border-radius: 20px;
        }

        .choose-tour__card-content {
            left: -2px;
            top: 2px;

            padding: 25px;

            .choose-tour__text-container {
                max-width: 268px;
                gap: 13px;

                .choose-tour__card__subtitle {
                    font-size: 16px;
                }
            }

            .choose-tour__link {
                top: 269px;
                left: 26px;
            }
        }
    }
}

@media (max-width: 576px) {
    .choose-tour__card {
        min-width: 318px;
        min-height: 318px;

        border-radius: 20px;

        .choose-tour__card__background {
            min-width: 318px;

            border-radius: 20px;
        }

        .choose-tour__card-content {
            left: -2px;
            top: 2px;

            padding: 25px;

            .choose-tour__text-container {
                max-width: 268px;
                gap: 13px;

                .choose-tour__card__subtitle {
                    font-size: 16px;
                }
            }

            .choose-tour__link {
                top: 269px;
                left: 26px;
            }
        }
    }
}

@media (max-width: 360px) {
    .choose-tour__card {
        min-width: 318px;
        min-height: 318px;

        border-radius: 20px;

        .choose-tour__card__background {
            min-width: 318px;

            border-radius: 20px;
        }

        .choose-tour__card-content {
            left: -2px;
            top: 2px;

            padding: 25px;

            .choose-tour__text-container {
                max-width: 268px;
                gap: 13px;

                .choose-tour__card__subtitle {
                    font-size: 16px;
                }
            }

            .choose-tour__link {
                top: 269px;
                left: 26px;
            }
        }
    }
}