@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

// main root
.root {
  gap: 100px;

  .header {
    max-width: 700px;
    gap: 35px;

    &__menu {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 30px;
    }  
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1170px;
    gap: 30px;
  }

  .menu__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  
    &-name {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 122%;
  
      cursor: pointer;
    }
  
    &-active {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 122%;
      color: $orangeColor;
      
      cursor: pointer;
  
      text-decoration-line: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 7px;
    }
  
    &-name:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 7px;
    }
  
    &-name:active {
      color: $orangeColor;
  
      text-decoration-line: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 7px;
    }
  }
}

// 1024
@include _1024 {
  .root {
    min-height: 1871px;

    .content {
      justify-content: center;
      max-width: 920px;
      gap: 20px;
    }
  }
}

// 992-780
@media (max-width: 992px) and (min-width: 780px) {
  .root {

    .content {
      max-width: 100%;
    }
  }
};

// 780
@include _780 {
  .root {
    min-height: auto;

    .content {
      gap: 18px;

      letter-spacing: 0.04em;
    }

    .header {
      max-width: 360px;
      min-width: 360px;
      gap: 30px;

      &__title {
        letter-spacing: 0.65px;
      }

      &__menu {
        flex-wrap: wrap;
        justify-content: center;
                
        gap: 10px;
      }
    }
  }

  .menu__item {

    &-name {
      font-size: 20px;
      line-height: 142%;
    }
  
    &-active {
      font-size: 20px;
      line-height: 142%;
    }
  }
}

// 1175
@include _1175 {
  .root {

    .content {
      justify-content: center;
      gap: 11px;
    }
  }
}

// 576
@include _576 {
  .root {
    min-height: auto;
    min-height: 2172px;
    gap: 35px;

    .content {
      max-width: 318px;
      gap: 18px;

      letter-spacing: 0.04em;
    }

    .header {
      max-width: 360px;
      min-width: 360px;
      gap: 30px;

      &__title {
        letter-spacing: 0.65px;
      }

      &__menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
      }
    }
  }

  .menu__item {

    &-name {
      font-size: 20px;
      line-height: 142%;
    }
  }
}

// 360
@include _360 {
  .root {
    min-height: 2172px;
    min-height: auto;
    gap: 35px;

    .content {
        max-width: 318px;
        gap: 18px;

        letter-spacing: 0.04em;
    }

    .header {
        max-width: 360px;
        min-width: 360px;
        gap: 30px;

        &__title {
            letter-spacing: 0.65px;
        }

        &__menu {
            flex-wrap: wrap;
            justify-content: center;
            max-width: 300px;
            gap: 10px;
        }
    }

    .menu__item {

      &-name {
          font-size: 16px;
          line-height: 142%;
      }
    
      &-active {
          font-size: 16px;
          line-height: 142%;
      }
    }
  }
}
