@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

// main root
.root {
  gap: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionHeader {
  max-width: 700px;
  gap: 35px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}  

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1170px;
  gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;

  .active {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    color: $orangeColor;
    
    cursor: pointer;

    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
  }

  &__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;

    cursor: pointer;
  }

  &__name:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
  }

  &__name:active {
    color: $orangeColor;

    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
  }
}

// 1024
@include _1024 {
  .root {
    min-height: 1871px;
  }

  .content {
    justify-content: center;
    max-width: 920px;
    gap: 20px;
  }
}

// 992-780
@include customMediaQuery(992px,780px) {
  .content {
    max-width: 100%;
  }
};

// 780
@include _780 {
  .root {
    min-height: auto;
  }

  .sectionHeader {
    max-width: 360px;
    min-width: 360px;
    gap: 30px;
  }
  
  .sectionTitle {
    letter-spacing: 0.65px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
            
    gap: 10px;
  }

  .content {
    gap: 18px;

    letter-spacing: 0.04em;
  }

  .item {

    &__name {
      font-size: 20px;
      line-height: 142%;
    }
  
    .active {
      font-size: 20px;
      line-height: 142%;
    }
  }
}

// 1175
@include _1175 {
  .content {
    justify-content: center;
    gap: 11px;
  }
}

// 576
@include _576 {
  .root {
    min-height: auto;
    min-height: 2172px;
    gap: 35px;
  }

  .content {
    max-width: 318px;
    gap: 18px;

    letter-spacing: 0.04em;
  }

  .sectionHeader {
    max-width: 360px;
    min-width: 360px;
    gap: 30px;
  }

  .sectionTitle {
    letter-spacing: 0.65px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .item {

    &-name {
      font-size: 20px;
      line-height: 142%;
    }
  }
}

// 360
@include _360 {
  .root {
    min-height: 2172px;
    min-height: auto;
    gap: 35px;
  }

  .content {
    max-width: 318px;
    gap: 18px;

    letter-spacing: 0.04em;
}

  .sectionHeader {
    max-width: 360px;
    min-width: 360px;
    gap: 30px;
  }

  .sectionTitle {
    letter-spacing: 0.65px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    gap: 10px;
  }

  .item {

    &__name {
        font-size: 16px;
        line-height: 142%;
    }

    .active {
        font-size: 16px;
        line-height: 142%;
    }
  }
}
