@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.root {
  min-width: percentage(1170 / 1920);
  gap: 100px;

  composes: main-font-style from '../../styles/global.scss';

  .header {
    gap: 30px;

    .header__subtitle {
      max-width: 458px;

      text-align: center;
      color: $greyColor;
    }
  }

  .content {
    min-height: 986px;
    min-width: 100%;
    padding: 70px;
    gap: 33px;

    background: $whiteColor;
    border-radius: 50px;

    .container {
      display: flex;
      max-width: 1170px;
      flex-wrap: wrap;
      min-width: inherit;
      gap: 30px;

      .side-container {
        display: flex;
        flex-direction: column;
        gap: 33px;

        .input-name {
          color: $blackColor;
        }

        .input-fields-container {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          min-width: 100%;
          max-height: 104px;
          gap: 30px;

          .input-field-container {
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            min-width: inherit;
            max-height: 104px;
            gap: 8px;

            input[type=date]::-webkit-calendar-picker-indicator {
              opacity: 0;
            }

            input[type=date]::-webkit-datetime-edit { 
              font-size: 25px;
              font-weight: 300;
              color: $greyColor;
            }

            .select-wrapper {
              min-width: inherit;
            }

            .select-wrapper::before {
              position: absolute;
              top: 55%;
              right: 25px;

              display: block;
              width: 20px;
              height: 100%;

              content: url('../../../public/images/Rectangle.png');
              pointer-events: none;
            }

            .select-field {
              min-width: 500px;
              min-height: 68px;
              padding: 20px;
              gap: 10px;

              background: $beigeColor;
              border: 1px solid $lightBeigeColor;
              border-radius: 10px;

              cursor: pointer;

              -webkit-appearance: none;
              appearance: none;
            }

            @media (min-width: 361px) {
              .select-field:hover {
                background: $lightBeigeColor;
              }
            }

            .first-date-field {
              color: $beigeColor;
            }

            .second-date-field::-webkit-calendar-picker-indicator {
              opacity: 0;
            }

            .root__input-field {
              display: flex;
              flex-direction: row;
              align-items: center;
              box-sizing: border-box;
              padding: 20px;
              min-width: 500px;
              min-height: 68px;
              gap: 10px;
                    
              font-size: 20px;

              background: $beigeColor;
              border: 1px solid $lightBeigeColor;
              border-radius: 10px;

              cursor: pointer;
              -webkit-appearance: none;
            }

            @media (min-width: 361px) {

              .root__input-field:focus{
                border: 1px solid $greyColor;
                background: $lightBeigeColor;
              }

              .first-date-field:hover {
                color: $lightBeigeColor;
              }

              .first-date-field:focus {
                color: $lightBeigeColor;
              }
    
              .root__input-field:hover {
                background: $lightBeigeColor;
              }
            }

            .root__input-field::placeholder {
              color: $greyColor;
            }

            input[type="date"]:not(.has-value):before{
              color: $greyColor;

              content: attr(placeholder);
            }
          }
        }
      }
    }

    .root__input-comment-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 100%;
      max-height: 188px;
      gap: 8px;

      .input-name {
        color: $blackColor;
      }

      .input-comment {
        min-width: inherit;

        resize: none;
      }

      @media (min-width: 361px) {
        .root__input-field-comment:focus {
          border: 1px solid $greyColor;
          background: $lightBeigeColor;
        }

        .root__input-field-comment:hover {
          background: $lightBeigeColor;
        }
      }

      .root__input-field-comment {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 152px;
        box-sizing: border-box;
        padding: 20px;
        gap: 10px;

        font-size: 20px;

        background: $beigeColor;
        border: 1px solid $lightBeigeColor;
        border-radius: 10px;

        cursor: pointer;
      }
    }

    .age-check {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      min-width: 100%;
      gap: 30px;

      .age-check__input-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        .input-name {
          color: $blackColor;
        }

        .age-check__radio-buttons-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 31px;

          .age-check__radio-button-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 11px;

            .age-check__radio-button {
              display: none;
            }

            .radio__border {
              position: relative;

              min-width: 21px;
              min-height: 21px;

              border: 2px solid $blackColor;
              border-radius: 50%;
            }

            .radio__border::before {
              position: absolute;
              top: 48%;
              left: 48%;
              z-index: -1;

              display: block;
              min-width: 12px;
              min-height: 12px;

              background-color: $blackColor;
              border-radius: 50%;

              transform: translate(-50%, -50%);
              transition: .2s;

              content: "";
            }

            .age-check__radio-button:checked + .radio__border::before {
              z-index: 1;
            }
          }
        }
      }
    }

    .agreement-container {
      display: flex;
      align-items: center;
      min-width: 100%;

      // .root {
      //   display: flex;
      //   flex-direction: row;
      //   justify-content: center;
      //   align-items: center;
      //   gap: 19px;

      //   font-family: 'Roboto';
      //   font-style: normal;
      //   font-weight: 400;
      //   line-height: 142%;
      //   letter-spacing: -0.01em;
      //   color: $greyColor;
                
      //   .checkbox_button {
      //     display: none;
      //   }

      //   .checkbox__border {
      //     position: relative;

      //     display: inline-block;
      //     min-width: 20px;
      //     min-height: 20px;

      //     border: 2px solid $blackColor;
      //     border-radius: 20%;
      //   }

      //   .checkbox__border::before {
      //     position: absolute;
      //     left: -1.3px;
      //     top: 48%;

      //     min-height: 29%;
      //     min-width: 2px;

      //     background-color: $blackColor;
      //     opacity: 0;
                    
      //     transition: .2s;
      //     transform: translateX(9.45px) rotate(-45deg);
      //     transform-origin: left bottom;

      //     content: '';
      //   }

      //   .checkbox__border::after {
      //     position: absolute;
      //     left: 9%;
      //     bottom: 19%;

      //     min-height: 2px;
      //     min-width: 68%;

      //     background-color: $blackColor;
      //     opacity: 0;

      //     transform: translateX(7.1px) rotate(-46deg);
      //     transform-origin: left bottom;
      //     transition: .2s;

      //     content: "";
      //   }

      //   .checkbox_button:checked + .checkbox__border::before,  
      //   .checkbox_button:checked + .checkbox__border::after {
      //     opacity: 1;
      //   }

      // }

      .agreement-text {
        margin-left: 10px;

        font-size: 17px;
        color: $greyColor;

        @media (min-width: 361px) {

          .agreement-text-link:hover {
            text-decoration: underline;
          }
    
          .agreement-text-link:active {
            color: $darkGreen;
          }
        }

        .agreement-text-link {
          margin-left: 1px;

          font-size: 17px;
          text-decoration: none;
          color: $blackColor;

          background: inherit;
                      
          cursor: pointer;
        }
      }
    }

    .buttons-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      min-width: 100%;
      gap: 30px;

      .submit-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 235px;
        min-height: 58px;
        gap: 10px;

        background: $darkGreen;
        border-radius: 10px;

        transition: 0.7s;

        cursor: pointer;

        .submit-button-text{
          min-width: 235px;
          min-height: 58px;

          color: $whiteColor;

          background-color: inherit;
          border-radius: 10px;
        }
      }

      @media (min-width: 361px) {

        .submit-button:hover {
          background: $greenColor;
          transition: 0.4s;
        }
    
        .submit-button:active {
          background: $oliveGreenColor;
          transition: 0.3s;
        }
      }

      .reset-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 235px;
        min-height: 58px;
        gap: 10px;

        background: $lightGreenColor;
        border-radius: 10px;

        transition: 0.7s;

        cursor: pointer;

        .reset-button-text {
          min-width: 235px;
          min-height: 58px;

          color: $darkGreen;

          background-color: inherit;
          border-radius: 10px;
        }
      }

      @media (min-width: 361px) {

        .reset-button:hover {
          background: $whiteSmoke;

          transition: 0.4s;
        }
    
        .reset-button:active {
          background: $gainsboro;

          transition: 0.3s;
        }
      }

    }
  }
}

@media (max-width: 1300px) {
  .root {
    min-width: percentage(918 / 1300);

    .content {

      .container {

        .side-container {

          .input-fields-container {

            .input-field-container {

              .select-field {
                min-width: 400px;
              }
    
              .root__input-field {
                min-width: 400px;
              }
            }
          }
        }
      }

      // .agreement-container {

      //   .root {
      //     // justify-content: flex-start;
      //   }
      // }
    }
  }
}


@include _1024 {
  .root {
      min-width: percentage(918 / 1024);
      gap: 100px;
        
      .content {
        padding: 60px;
        gap: 33px;

        .container {
          gap: 28px;

          .side-container {

            .input-fields-container {
              max-height: 102px;
              gap: 20px;

              .input-field-container {
                max-width: 389px;

                .select-field {
                  max-width: 389px;
                  min-width: 389px;
                }

                .root__input-field {
                  min-width: 389px;
                }
              }
            }
          }
        }


        .root__input-comment-container {
          max-height: 183.4px;
        }

        .agreement-container {

          // .root {
          //   gap: 12px;
          // }
        }
      }
  }
}

@include _992 {
  .root {
    gap: 50px;

    .content {

      .container {

        .side-container {
          min-width: 47.5%;

          .input-fields-container {
            min-width: 100%;

            .input-field-container {
              min-width: inherit;

              .select-field {
                min-width: inherit;
              }

              .root__input-field {
                min-width: inherit;
              }
            }
          }
        }
      }
    }
  }
}

@include _780 {
  .root  {
    gap: 40px;

    .header {
      gap: 20px;

      .header__title {
        letter-spacing: 0.7px;
      }

      .header__subtitle {
        min-width: 400px;
      }
    }

    .content {
      gap: 30px;

      border-radius: 30px;

      .container {
        flex-direction: column;

        gap: 32px;

        .side-container {

          .input-name {
            font-size: 16px;
          }

          .input-fields-container {
            max-height: 74px;

            .input-field-container {
              max-width: 250px;
              max-height: 74px;

              input[type=date]::-webkit-datetime-edit { 
                font-size: 20px;
                font-weight: 300;
                color: $greyColor;
              }

              .select-wrapper::before {
                position: absolute;
                top: 70%;

                display: block;
                width: 10px;
                height: 70%;

                pointer-events: none;
                content: url('../../../public/images/Rectangle.png');
              }

              .root__input-field {
                padding: 8px;

                font-size: 16px;
              }

              .select-field {
                min-height: 60px;
                padding: 10px;

                font-size: 15px;
                letter-spacing: 0.4px;
              }
                    
              .root__input-field {
                max-width: 278px;
                min-height: 60px;
              }

              .root__input-field::placeholder {
                font-size: 16px;
              }
            }
          }
        }
      }

      .root__input-comment-container {

        .input-name {
          font-size: 16px;
        }

        .root__input-field-comment {
          font-size: 16px;
        }
      }

      .age-check {
        .age-check__input-container {
          gap: 8px;

          .input-name {
            font-size: 16px;
          }

          .age-check__radio-buttons-container {
            gap: 27px;

            .age-check__radio-button-container {

              .radio__border {
                min-width: 21px;
                min-height: 21px;
              }

              .radio__border::before {
                min-width: 10px;
                min-height: 9px;
              }
            }
          }
        }
      }

      .agreement-container {

        // .root {
        //   font-size: 16px;
        //   gap: 0;

        //   .checkbox__border {
        //     min-width: 21px;
        //     min-height: 21px;
        //   }
        // }

        .agreement-text {
          margin-left: 12px;
          max-width: 260px;

          font-size: 16px;

          .agreement-text-link {
            font-size: 16px;
          }
        }
      }

      .buttons-container {
        margin-left: 0;
        margin-right: 0px;
        gap: 10px;

        .submit-button {
          min-width: 134px;
          min-height: 47px;
                    
          .submit-button-text {
            min-width: 134px;
            min-height: 47px;

            font-size: 16px;
          }
        }

        .reset-button {
          min-width: 134px;
          min-height: 47px;

          .reset-button-text {
            min-width: 134px;
            min-height: 47px;

            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .root {
    min-width: 90%;

    .content {
      min-width: 85%;
      padding: 20px;

      .container {

        .side-container {

          .input-fields-container {    
        
            .input-field-container {
        
              .select-field {
                min-height: 43px;
              }
        
              .root__input-field {
                min-height: 43px;
              }

              .select-wrapper::before {
                top: 59%;
              }
            }
          }
        }
      }

      .root__input-comment-container {
        max-height: 163px;
      }

      .agreement-container {

        // .root {

        //   .checkbox__border {
        //     margin-bottom: 45px;
        //   }

        // }
        
        .agreement-text {
          max-width: 248px;
          margin-left: 12px;

          font-size: 16px;
        }
      }
    }
  }
}

@include mobile;