@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.review-section {
    max-width: 1170px;
    min-height: 1005px;
    gap: 100px;

    .review-section__header {
        gap: 30px;

        .review-section__header__title {
            max-width: 529px;
        }

        .review-section__header__subtitle {
            max-width: 418px;
            max-height: 56px;
        }
    }

    .review-section__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
    }
}

@include _1175 {
    .review-section {

        .review-section__content {
            max-width: 100%;
        }
    }
}

@include _1024 {
    .review-section {
        max-width: 1024px;
        min-height: 1173px;
        

        .review-section__content {
            max-width: 1024px;
            padding: 0px 52px;
            gap: 18px;
        }
    }
}

@include _992 {
    .review-section {
        max-width: 100%;
        min-height: auto;
        max-height: auto;
        gap: 50px;

        .review-section__header {
            gap: 20px;

            .review-section__header__title {
                letter-spacing: 0.7px;
            }

            .review-section__header__subtitle {
                max-width: 400px;
            }
        }

        .review-section__content {
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            min-width: 100%;
        }

    }
}

@include _576 {
    .review-section {
        max-width: 360px;
        gap: 50px;

        .review-section__header {
            gap: 20px;

            .review-section__header__subtitle {
                max-width: 318px;
            }
        }

        .review-section__content {
            flex-direction: column;
        }

    }
}

@include mobile;