@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

// main root
.root {
  max-width: 1170px;
  min-height: 1005px;
  gap: 100px;

  .header {
    gap: 30px;

    .header__title {
      max-width: 529px;
    }

    .header__subtitle {
      max-width: 418px;
      max-height: 56px;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
  }
}

// 1175
@include _1175 {
  .root {

    .content {
      max-width: 100%;
    }
  }
}

// 1024
@include _1024 {
  .root {
    max-width: 1024px;
    min-height: 1173px;
        

    .content {
      max-width: 1024px;
      padding: 0px 52px;
      gap: 18px;
    }
  }
}

// 992
@include _992 {
  .root {
    max-width: 100%;
    min-height: auto;
    max-height: auto;
    gap: 50px;

    .header {
      gap: 20px;

      &__title {
        letter-spacing: 0.7px;
      }

      &__subtitle {
        max-width: 400px;
      }
    }

    .content {
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      min-width: 100%;
    }

  }
}

// 576
@include _576 {
  .root {
    max-width: 360px;
    gap: 50px;

    .header {
      gap: 20px;

      &__subtitle {
        max-width: 318px;
      }
    }

    .content {
      flex-direction: column;
    }

  }
}
