$whiteColor:  #FFFFFF;
$blackColor: #1B1F2B;
$orangeColor: #EFA501;
$greyColor: #A6A6A6;
$beigeColor: #F9F7F4;
$darkGreen: #286562;
$greenColor: #3B7E7B;
$oliveGreenColor: #627F7E;
$lightGreenColor: #E0F0E5;
$lightBeigeColor: #F4F0E9;
$lightOrange: #F8E6BE;
$whiteSmoke: #F1F3F2;
$gainsboro: #D9DFDB;