@import "./colors.scss";

* {
  font-family: "Roboto";
  user-select: none;
  -webkit-user-select: none;
}

html,
body {
  max-height: 100%;
  max-width: 100%;
  font-size: 100%;
}

body {
  background: $beigeColor;
}

@media (max-width: 1920px) {
  body {
    max-width: 1920px;
  }
}

@media (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
}

// ПАРАМЕТРЫ ШРИФТОВ

.main-font-style {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}

@media (max-width: 576px) {
  .main-font-style {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .main-font-style {
    font-size: 16px;
  }
}
