// миксин для min-width TourCard
@mixin minWidthСalculation($maxw, $w) {
    min-width: calc($maxw - 10 * (100vw / $w));
}

// миксин для width StoryCard
@mixin widthCalculation($maxw, $w) {
    max-width: calc($maxw + 102 * (100vw / $w));
    min-width: calc($maxw + 102 * (100vw / $w));
}

// миксин для gap Header
@mixin gapCalculation($maxg, $g) {
    gap: calc($maxg + $g * (100vw / 1024));
}

// миксины для медиа-запросов
@mixin _1175 {
    @media (max-width: 1175px) {
        @content;
    }
}

@mixin _1024 {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin _992 {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin _780 {
    @media (max-width: 780px) {
        @content;
    }
}

@mixin _576 {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin _360 {
    @media (max-width: 360px) {
        @content;
    }
}

@mixin mobile {
    // @media (max-width: 360px) {
        // chooseTour
        // .root {
            // min-height: 2172px;
            // min-height: auto;
            // gap: 35px;
    
            // .content {
                // max-width: 318px;
                // gap: 18px;
    
                // letter-spacing: 0.04em;
            // }
    
            // .header {
                // max-width: 360px;
                // min-width: 360px;
                // gap: 30px;
    
                // .header__title {
                    // letter-spacing: 0.65px;
                // }
    
                // .header__menu {
                    // flex-wrap: wrap;
                    // justify-content: center;
                    // max-width: 300px;
                    // gap: 10px;
    
                    // .menu__item {
    
                        // .menu__item-name {
                            // font-size: 16px;
                            // line-height: 142%;
                        // }
    
                        // .menu__active-item {
                            // font-size: 16px;
                            // line-height: 142%;
                        // }
                    // }
                // }
            // }
        // }

        // tourCard 
        // .choose-tour__card {
            // min-width: 318px;
            // min-height: 318px;
    
            // border-radius: 20px;
    
            // .choose-tour__card__background {
                // min-width: 318px;
    
                // border-radius: 20px;
            // }
    
            // .choose-tour__card-content {
                // left: -2px;
                // top: 2px;
    
                // padding: 25px;
    
                // .choose-tour__text-container {
                    // max-width: 268px;
                    // gap: 13px;
    
                    // .choose-tour__card__subtitle {
                        // font-size: 16px;
                    // }
                // }
    
                // .choose-tour__link {
                    // top: 269px;
                    // left: 26px;
                // }
            // }
        // }

        // detailsBtn
        // .info-link__container {
            // .info-link__text {
                // max-width: 84px;
                // max-height: 23px;
                // 
                // font-size: 15px;
                // line-height: 142%;
            // }
    
            // .info-link__arrow {
    
                // svg {
                    // left: 1px;
                    // top: -8px;
                // }
            // }
        // }

        // footer
        // .footer {
            // max-width: 360px;
            // min-height: 95px;
    
            // .footer__content {
                // flex-direction: column;
                // min-width: 318px;
                // gap: 7px;
    
                // .footer__content__social-networks-links {
                    // max-width: 314px;
                    // gap: 20px;
    
                    // .footerLinkBlock {
                        // gap: 1px;
    
                        // .footer__link-icon {
                            // max-width: 20px;
                        // }
    
                        // .img-logo {
                            // max-width: 20px;
                        // }
                        // .inst-icon {
                            // max-width: 20px;
                            // max-height: 20px;
                        // }
                    // }
                // }
            // }
        // }

        // form
        // .form-section {
            // min-width: percentage(318 / 360);
            // max-width: percentage(318 / 360);
    
            // .form-section__content-form {
                // min-width: 100%;
                // padding: 20px 20px 40px 20px;
                // gap: 30px;
    
                // .container {
    
                    // .side-container {
                        // gap: 31px;
                    // }
                // }
            // }
        // }

        // header
        // .header {
            // max-height: 486px;
    
            // .header__content {
                // min-width: 360px;
                // gap: 40px;
    
                // .header__content__title {
                    // max-width: 360px;
                    // min-height: 114px;
    
                    // font-size: 34px;
                    // line-height: 112%;
                // }
    
                // .header__content__subtitle {
                    // max-width: 314px;
    
                    // font-size: 16px;
                // }
    
                // .header__content__button {
    
                    // .find-tour-btn {
                        // min-height: 19px;
    
                        // font-size: 16px;
                    // }
                // }
    
            // }
    
            // .header__navbar {
                // max-width: 360px;
                // margin-left: 2px;
    
                // .navbar {
                    // justify-content: space-between;
                    // max-width: 320px;
                    // gap: 33px;
    
                    // .navbar__menu {
                        // display: none;
                    // }
    
                    // .navbar__logo {
                        // min-width: 124px;
    
                        // .YourTourLogo {
                            // max-width: 133px;
                        // }
                    // }
    
                    // .telephone {
                        // max-width: 124px;
                        // min-height: 23px;
                        // 
                        // font-size: 16px;
                    // }
                // }
            // }
        // }

        // mailSection
        // . {
            // flex-direction: column;
            // max-width: 360px;
            // margin-left: -2.5px;
            // margin-top: 1px;
    
            // .mail-section__photo {
                // max-width: 130px;
                // 
                // border-radius: 20px;
            // }
    
            // .mail-section__content {
                // max-width: 291px;
                // gap: 24px;
    
                // .mail-section__content__header {
                    // font-size: 23px;
                    // line-height: 120%;
                    // text-align: center;
                    // letter-spacing: 0.045em;
                // }
    
                // .mail-section__content__text {
                    // text-align: center;
                // }
            // }
        // }

        // reviewCard
        // .root__review-card {
            // align-items: flex-start;
            // justify-content: flex-start;
            // min-height: 290px;
            // max-width: 318px;
    
            // border-radius: 20px;
    
            // .root__review-card-text {
                // max-width: 273px;
    
                // font-size: 16px;
                // line-height: 143%;
            // }
    
            // .root__review-card__footer {
                // padding: 42px 0px 0px;
    
                // .footer-content {
                    // min-width: 203px;
                    // gap: 8px;
    
                    // .reviewer-name {
                        // font-weight: 700;
                        // font-size: 23px;
                        // line-height: 120%;
                        // letter-spacing: 0.04em;
                    // }
    
                    // .reviewer-tour {
                        // margin-bottom: 1px;
                        // 
                        // letter-spacing: -0.01em;
                    // }
                // }
    
                // .root__reviewer {
                    // max-width: 75px;
                    // max-height: 75px;
                // }
            // }
        // }

        // reviewSection
        // .root {
            // max-width: 360px;
            // min-height: 1210px;
            // max-height: 1210px;
            // margin-left: -3.5px;
            // gap: 50px;
    
            // .header {
                // gap: 20px;
    
                // .header__title {
                    // letter-spacing: 0.7px;
                // }
    
                // .header__subtitle {
                    // max-width: 318px;
                // }
            // }
    
            // .content {
                // flex-direction: column;
                // align-items: center;
                // max-width: 360px;
                // padding: 0px 21px;
            // }
        // }

        // travelPhotoSection 
        // .travel-photo-section {
            // max-width: 360px;
            // min-height: 558px;
            // gap: 50px;
            // margin-left: -2px;
    
            // .travel-photo-section__header {
    
                // .travel-photo-section__header__title {
                    // letter-spacing: 0.02em;
                // }
            // }
    
            // .travel-photo-section__content {
                // gap: 18px;
    
                // .travel-photo-section__photo-container {
    
                    // .travel-photo-section__big-photo {
                        // min-width: 46.7%;
                        // min-height: 110px;
                        // border-radius: 20px;
                    // }
    
                    // .max-middle-size {
                        // display: none;
                    // }
    
                    // .travel-photo-section__small-photo {
                        // max-width: 30%;
                        // border-radius: 20px;
                        // min-height: 110px;
                    // }
                // }
            // }
        // }
    // }
}