@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

// main root
.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;

  border-radius: 50px;

  color: $whiteColor;
  
  cursor: pointer;

  .text {
    max-width: 120px;
    max-height: 28px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;

    .arrow {
      max-width: 24px;
      max-height: 26px;
    }
  }
}

// 780
@include _780 {
  .root {
        
    .text {
      font-size: 20px;
    }
  }
}

// mobile
@include _360 {
  .root {

    .text {
      font-size: 16px;
    }
  }
}