@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

// main root
.root {
  display: flex;
  flex-direction: column;
  width: 100%;
    
  background: linear-gradient(180deg, rgba($blackColor, 0.4) 0%, rgba($blackColor, 0) 39.9%), linear-gradient(0deg, rgba($blackColor, 0.3), rgba(rgba($blackColor, 0.3), 0.3)), url('../../../public/images/header.png');
  background-size: cover;
  background-position: center;

  composes: main-font-style from '../../styles/global.scss';

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0 50px 0;

    &__title {
      max-width: 768px;

      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      line-height: 109%;
      text-align: center;
      letter-spacing: 0.02em;
      color: $whiteColor;
    }

    &__subtitle {
      max-width: 562px;

      text-align: center;
      color: $whiteColor;
    }

    &__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 5px 20px;
      gap: 10px;

      background: $whiteColor;
      border-radius: 10px;

      transition: 0.7s;

      cursor: pointer;
    }
  }
}

.find-tour-btn {
  max-width: 78px;
  min-height: 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: $blackColor;
}

@media (min-width: 361px) {

  .content__button:hover {
    background: $orangeColor;

    transition: all 0.5s ease-out;
  }

  .content__button:hover .find-tour-btn {
    color: $whiteColor;
  }

  .content__button:active {
    background: $lightOrange;
  }

  .content__button:active .find-tour-btn {
    color: $blackColor;
  }
}

.navbar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-height: 88px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 180px;
  min-height: 30.24px;

  &__logo {
    min-width: 181.84px;
    max-width: 181.84;
    min-height: 30.24px;

    .YourTourLogo {
      left: 376px;
      top: 28.88px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 28px;

    .menu__item {
      min-height: 28px;

      color: $whiteColor;
      white-space: nowrap;

      cursor: pointer;
    }

    .menu__item:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 7px;
    }
  }

  .telephone {
    max-width: 155px;
    min-height: 28px;
            
    color: $whiteColor;
    white-space: nowrap;
  }
}

// 1175
@include _1175 {
  .navbar {
    gap: 60px;
  }
}

// 1024
@include _1024 {
  .root {

    .content {
            
      &__subtitle {
        max-width: 442px;
      }
    }
  }
  .navbar__container {
    max-width: 100%;
  }

  .navbar {
    max-width: 100%;
    @include gapCalculation(30px, 55);

    &__menu {
      @include gapCalculation(10px, 20);
    }
  }
}

// 990-781
@media (max-width: 990px) and (min-width: 781px) {
  .navbar {
    gap: calc(-22px + 5.37109375vw);
  }
}

// 780
@include _780 {
  .root {

    .content {

      &__title {
        max-width: 540px;

        font-size: 80px;
        text-align: center;
      }
    }
  }

  .navbar {
    min-width: 90%;

    &__menu {
      display: none;
    }
  }
}

// 576
@include _576 {
  .root {

    .content {

      &__title {
        min-height: 190px;
        
        font-size: 50px;
      }

      &__subtitle {
        max-width: 350px;

        font-size: 18px;
      }
    }
  }

  .navbar {
    justify-content: space-around;

    .telephone {
      max-width: 124px;
      min-height: 23px;

      font-size: 16px;
    }

    &__logo {
      min-width: 124px;
      max-width: 124px;
    }
  }
}

// mobile
@include _360 {
  .root {
    max-height: 486px;

    .content {
      gap: 40px;

      &__title {
        min-height: 114px;

        font-size: 34px;
        line-height: 112%;
      }

      &__subtitle {
        max-width: 314px;

        font-size: 16px;
      }

    }
  }

  .navbar {
    justify-content: space-between;

    &__logo {
      min-width: 133px;
    }
  }

  .find-tour-btn {
    font-size: 16px;
  }
}

@include mobile;