@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 19px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: $greyColor;
          
  .button {
    display: none;
  }

  .border {
    position: relative;

    display: inline-block;
    min-width: 20px;
    min-height: 20px;

    border: 2px solid $blackColor;
    border-radius: 20%;
  }

  .border::before {
    position: absolute;
    left: -1.3px;
    top: 48%;

    min-height: 29%;
    min-width: 2px;

    background-color: $blackColor;
    opacity: 0;
              
    transition: .2s;
    transform: translateX(9.45px) rotate(-45deg);
    transform-origin: left bottom;

    content: '';
  }

  .border::after {
    position: absolute;
    left: 9%;
    bottom: 19%;

    min-height: 2px;
    min-width: 68%;

    background-color: $blackColor;
    opacity: 0;

    transform: translateX(7.1px) rotate(-46deg);
    transform-origin: left bottom;
    transition: .2s;

    content: "";
  }

  .button:checked + .border::before,  
  .button:checked + .border::after {
    opacity: 1;
  }

}

// 1024
@include _1024 {
  .root {
    gap: 12px;
  }
}

// 780
@include _780 {
  .root {
    font-size: 16px;
    gap: 0;

    .border {
      min-width: 21px;
      min-height: 21px;
    }
  }
}

// 500
@include _500 {
  .root {

    .border {
      margin-bottom: 45px;
    }

  }
}