.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  min-height: 88px;
  padding: 0px;
  gap: 214px;
  background: #F4F0E9;
}
.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1168px;
  min-height: 28px;
  padding: 0px;
  gap: 214px;
}
.footer .footer__content .footer__content__text {
  color: #A6A6A6;
}
.footer .footer__content .footer__content__social-networks-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 419px;
  min-height: 28px;
  padding: 0px;
  gap: 25px;
}
.footer .footer__content .footer__content__social-networks-links .footer__link-block {
  max-width: 126px;
  min-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 10px;
}
.footer .footer__content .footer__content__social-networks-links .footer__link-block .inst-icon {
  max-width: 26h;
  max-height: 26px;
}
.footer .footer__content .footer__content__social-networks-links .footer__link-block .footer__social-network {
  color: #1B1F2B;
  cursor: pointer;
}
@media (min-width: 361px) {
  .footer .footer__content .footer__content__social-networks-links .footer__link-block .footer__social-network:hover {
    text-decoration-line: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
  }
}

@media (max-width: 1175px) {
  .footer {
    max-width: 100%;
  }
  .footer .footer__content {
    min-width: 90%;
  }
}
@media (max-width: 1024px) {
  .footer {
    max-width: 100%;
  }
  .footer .footer__content {
    min-width: 0px;
    gap: 280px;
  }
}
@media (max-width: 992px) {
  .footer .footer__content {
    gap: 25px;
  }
}
@media (max-width: 780px) {
  .footer {
    max-width: 100%;
    min-height: 95px;
  }
  .footer .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 7px;
  }
  .footer .footer__content .footer__content__social-networks-links {
    gap: 20px;
  }
  .footer .footer__content .footer__content__social-networks-links .footer__link-block {
    gap: 1px;
  }
  .footer .footer__content .footer__content__social-networks-links .footer__link-block .footer__link-icon {
    max-width: 20px;
  }
  .footer .footer__content .footer__content__social-networks-links .footer__link-block .img-logo {
    max-width: 20px;
  }
  .footer .footer__content .footer__content__social-networks-links .footer__link-block .inst-icon {
    max-width: 20px;
    max-height: 20px;
  }
}
@media (max-width: 360px) {
  .footer {
    max-width: 360px;
    min-height: 95px;
  }
  .footer .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 318px;
    gap: 7px;
  }
  .footer .footer__content .footer__content__social-networks-links {
    max-width: 314px;
    gap: 20px;
  }
  .footer .footer__content .footer__content__social-networks-links .footer__link-block {
    gap: 1px;
  }
  .footer .footer__content .footer__content__social-networks-links .footer__link-block .footer__link-icon {
    max-width: 20px;
  }
  .footer .footer__content .footer__content__social-networks-links .footer__link-block .img-logo {
    max-width: 20px;
  }
  .footer .footer__content .footer__content__social-networks-links .footer__link-block .inst-icon {
    max-width: 20px;
    max-height: 20px;
  }
}