@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

// main root
.root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  min-height: 88px;
  padding: 0px;
    
  background: $lightBeigeColor;
  composes: main-font-style from '../../styles/global.scss';
}

.text {
  color: $greyColor;
}

.social-networks-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 419px;
  min-height: 28px;
  padding: 0px;
  gap: 25px;

  .linkBlock {
    max-width: 126px;
    min-height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    .social-network {
      color: $blackColor;

      cursor: pointer;
    }
  }
}

@media (min-width: 361px) {

  .social-network:hover {
    text-decoration-line: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
  }
}

// 1024
@include _1024 {
  .root {
    max-width: 100%;
  }
}

// 780
@include _780 {
  .root {
    max-width: 100%;
    min-height: 95px;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
  }

  .social-networks-links {
    gap: 20px;
  }

  .linkBlock {
    gap: 1px;

    .link-icon {
      max-width: 20px;
    }

    .img-logo {
      max-width: 20px;
    }
    .inst-icon {
      max-width: 20px;
      max-height: 20px;
    }
  }
}

// 1175
@include _1175 {
  .root {
    max-width: 100%;
  }
}

// mobile _360
@include _360 {
  .social-networks-links {

    .linkBlock {
      gap: 2px;
    }
  }
}