@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

// main root
.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 88px;
  padding: 0px;
  gap: 214px;
    
  background: $lightBeigeColor;
  composes: main-font-style from '../../styles/global.scss';

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 1168px;
    min-height: 28px;
    padding: 0px;
    gap: 214px;


    &__text {
      color: $greyColor;
    }
  }
}

.content__social-networks-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 419px;
  min-height: 28px;
  padding: 0px;
  gap: 25px;

  .content__linkBlock {
    max-width: 126px;
    min-height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    .inst-icon {
      max-width: 26h;
      max-height: 26px;
    }

    .social-network {
      color: $blackColor;

      cursor: pointer;
    }
  }
}

@media (min-width: 361px) {

  .social-network:hover {
    text-decoration-line: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
  }
}

// 1024
@include _1024 {
  .root {
    max-width: 100%;

    .content {
      min-width: 0px;
      gap: 280px;
    }
  }
}

// 992
@include _992 {
  .root {

    .content {
      gap: 25px;
    }
  }
}

// 780
@include _780 {
  .root {
    max-width: 100%;
    min-height: 95px;

    .content {
      flex-direction: column;
      gap: 7px;

      &__social-networks-links {
        gap: 20px;
      }
    }
  }

// 
  .content__linkBlock {
    gap: 1px;

    .link-icon {
      max-width: 20px;
    }

    .img-logo {
      max-width: 20px;
    }
    .inst-icon {
      max-width: 20px;
      max-height: 20px;
    }
  }
}

// 1175
@include _1175 {
  .root {
    max-width: 100%;

    .content {
      min-width: 90%;
    }
  }
}

// mobile _360
@include _360 {
  .content__social-networks-links {

    .content__linkBlock {
      gap: 2px;
    }
  }
}

@include mobile;