@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

// main root
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.sectionSubtitle {
  max-width: 418px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100%;
  padding: 0px;
  gap: 30px;
}

.bigPhoto {
  max-width: 23%;
  object-fit: cover;

  border-radius: 50px;
}

.smallPhoto {
  max-width: 18%;
  min-height: 301px;
  object-fit: cover;

  border-radius: 50px;
}

// 1630
@include _1630 {
  .bigPhoto {
    min-height: 300px;
    max-width: 26.7%;
  }

  .disappearFirst {
    display: none;
  }

  .smallPhoto {
    max-width: 22.5%;
  }
}

// 1175
@include _1175 {
  .bigPhoto {
    min-height: 300px;
  }
  .disappearFirst {
    display: none;
  }
}

// 1024
@include _1024 {
  .root {
    max-width: 100%;
    margin: 0 auto;
  }

  .content {
    max-width: 1024px;
    max-height: 963px;
    padding: 0px 20px;
  }

  .bigPhoto {
    max-width: 30%;
    min-height: 300px;
  }

  .disappearFirst {
    display: none;
  }
}

// 992
@include _992 {
  .root {
    max-width: 90%;
    gap: 50px;
  }

  .sectionSubtitle {
    max-width: 400px;
  }

  .content {
    gap: 13px;
    justify-content: center;
    max-width: 90%;
    max-height: auto;
  }

  .bigPhoto {
    max-width: 40%;
    max-height: 110px;

    border-radius: 20px;
  }

  .disappearSecond {
    display: none;
  }

  .smallPhoto {
    max-width: 33%;
    max-height: 110px;
    margin-left: -8px;

    border-radius: 20px;
  }
}

// 790
@include _790 {
  .root {
    max-width: 90%;
    gap: 50px;
  }

  .content {
    gap: 11px;
  }

  .bigPhoto {
    max-height: 110px;

    border-radius: 20px;
  }

  .disappearSecond {
    display: none;
  }

  .smallPhoto {
    max-height: 70px;

    border-radius: 20px;
  }
}

// 576
@include _576 {
  .root {
    max-width: 360px;
    min-height: auto;
    gap: 50px;
  }

  .sectionSubtitle {
    max-width: 318px;
  }

  .content {
    gap: 12px;
  }

  .bigPhoto {
    max-width: 43%;
    min-height: 150px;
    max-height: 110px;
    border-radius: 20px;
  }

  .disappearSecond {
    display: none;
  }

  .smallPhoto {
    min-height: 130px;
    border-radius: 20px;
  }
}
