@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

// main root
.root {
  gap: 100px;

  .header {
    gap: 30px;

    &__subtitle {
      max-width: 418px;
    }
  }
}

.content {
  gap: 30px;

  &__photo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    padding: 0px;
    gap: 30px;

    .big-photo {
      max-width: 23%;
      object-fit: cover;

      border-radius: 50px;
    }

    .small-photo {
      max-width: 18%;
      min-height: 301px;
      object-fit: cover;

      border-radius: 50px;
    }
  }
}

// 1630
@media (max-width: 1630px) {
  .content {

    &__photo-container {

      .big-photo {
        min-height: 300px;
        max-width: 26.7%;
      }
      .max-size {
        display: none;
      }

      .small-photo {
        max-width: 22.5%;
      }

    }
  }
}

// 1175
@include _1175 {
  .content {

    &__photo-container {

      .big-photo {
        min-height: 300px;
      }
      .max-size {
        display: none;
      }
    }
  }
}

// 1024
@include _1024 {
  .root {
    max-width: 100%;
    margin: 0 auto;

    .header {
      gap:25px;
    }
  }

  .content {
    max-width: 1024px;
    max-height: 963px;
    padding: 0px 20px;

    &__photo-container {
      max-width: 984px;
      gap: 20px;

      .big-photo {
        max-width: 30%;
        min-height: 300px;
      }
      .max-size {
        display: none;
      }
    }
  }
}

// 992
@include _992 {
  .root {
    max-width: 90%;
    gap: 50px;

    .header {
      gap: 20px;

      &__title {
        letter-spacing: 0.02em;
      }

      &__subtitle {
        max-width: 400px;
      }
    }
  }

  .content {
    gap: 18px;

    .small {
      gap: 10px;
    }
  
    .big {
      gap: 16px;
    }

    &__photo-container {
      justify-content: center;
      max-width: 90%;
      max-height: auto;

      .big-photo {
        max-width: 40%;
        max-height: 110px;

        border-radius: 20px;
      }

      .max-middle-size {
        display: none;
      }

      .small-photo {
        max-width: 34.5%;
        max-height: 110px;

        border-radius: 20px;
      }
    }
  }
}

// 790
@media (max-width: 790px) {
  .root {
    max-width: 90%;
    gap: 50px;

    .header {
      gap: 20px;

      &__title {
        letter-spacing: 0.02em;
      }
    }
  }

  .content {
    gap: 18px;

    .small {
      gap: 10px;
    }
  
    .big {
      gap: 16px;
    }

    &__photo-container {
      justify-content: center;
      max-width: 90%;
      max-height: auto;

      .big-photo {
        max-height: 110px;

        border-radius: 20px;
      }

      .max-middle-size {
        display: none;
      }

      .small-photo {
        max-height: 70px;
                  
        border-radius: 20px;
      }
    }
  }
}

// 576
@include _576 {
  .root {
    max-width: 360px;
    min-height: auto;
    gap: 50px;

    .header {
      gap: 20px;

      &__title {
        letter-spacing: 0.02em;
      }

      &__subtitle {
        max-width: 318px;
      }
    }
  }

  .content {
    gap: 18px;

    .small {
      gap: 10px;
    }
  
    .big {
      gap: 16px;
    }

    &__photo-container {
      max-width: 95%;
      max-height: auto;

      .big-photo {
        max-width: 48.5%;
        min-height: 150px;
        max-height: 110px;
        border-radius: 20px;
      }

      .max-middle-size {
        display: none;
      }

      .small-photo {
        min-height: 130px;
        border-radius: 20px;
      }
    }
  }
}
